<article class="article" itemscope itemtype="http://schema.org/blog">
    <header class="article-header">
        <h2><a href="{{ .Permalink }}" itemprop="name">{{- .Title -}}</a></h2>
        <p>Published by <span itemprop="author">{{ .Site.Params.name }}</span> <time itemprop="datecreated" class="article-header-time" pubdate="pubdate" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date }}</time></p>
    </header>
    <section class="article-summary" itemprop="about">
    {{- .Summary -}}
    </section>
    <footer class="article-footer">
        {{- partial "article/tags" .Params -}}
    </footer>
</article>